@import 'tailwindcss';

@theme {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-background-dark: #0a0a0a;
  --color-foreground-dark: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-background-dark);
    --color-foreground: var(--color-foreground-dark);
  }
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: var(--font-family-sans);
}
